.block
  .content
    %h2.title Загрузка текста
    .inner
      = form_for @report, :url => admin_reports_path, :html => { :class => 'form', :multipart => true } do
        .group
          = label :algorithm, "проверка с помощью:", :class => 'label'
        .group
          = select_tag :algorithm, options_for_select(%w(shingle super-shingle mega-shingle min-hash i-match long_sent).map {|i| [i, i]})
        .group          
          = check_box_tag :web, true, false, :class => 'checkbox'
          = label :type, "искать в интернете", :class => 'checkbox'
        .group
          = label :file, "из файла:", :class => 'label'
        .group
          = file_field_tag :file
        .group
          = label :content, "или", :class => 'label'
        .group
          = text_area_tag :content, params[:content], :class => 'text_area', :rows => 20
        .group.navform.wat-cf
          %button.button{:type => "submit"}
            = image_tag("/web-app-theme/icons/tick.png")
            Проверить