.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_shingle_signatures_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_shingle_signature_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_shingle_signature_path
  .content
    .inner
      = raw @shingle_signature.document.content[0...@shingle_signature.position_start]  + "<span class='highlight'>" + @shingle_signature.document.content[@shingle_signature.range] + "</span>" + @shingle_signature.document.content[@shingle_signature.position_end..@shingle_signature.document.content.length]

      %p
        %b
          = t("activerecord.attributes.admin_shingle_signature.token", :default => t("activerecord.labels.token", :default => "Token"))
          \:
        = @shingle_signature.token
      %p
        %b
          = t("activerecord.attributes.admin_shingle_signature.canonized_content", :default => t("activerecord.labels.canonized_content", :default => "Canonized content"))
          \:
        = @shingle_signature.canonized_content
      %p
        %b
          = t("activerecord.attributes.admin_shingle_signature.content", :default => t("activerecord.labels.content", :default => "Content"))
          \:
        = @shingle_signature.content
      %p
        %b
          = t("activerecord.attributes.admin_shingle_signature.position_start", :default => t("activerecord.labels.position_start", :default => "Position start"))
          \:
        = @shingle_signature.position_start
      %p
        %b
          = t("activerecord.attributes.admin_shingle_signature.position_end", :default => t("activerecord.labels.position_end", :default => "Position end"))
          \:
        = @shingle_signature.position_end
      %p
        %b
          = t("activerecord.attributes.admin_shingle_signature.document_id", :default => t("activerecord.labels.document_id", :default => "Document"))
          \:
        = @shingle_signature.document_id
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_shingle_signature_path(@shingle_signature), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_shingle_signature_path(@shingle_signature), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
