.block
  .secondary-navigation
  .content
    %h2.title
      Отчеты
    .inner
      %table.table
        %tr
          %th.first ID
          %th Статус
          %th Алгоритм
          %th Дата
          %th.last &nbsp;
        - @reports.each do |report|
          %tr{:class => cycle("odd", "even")}
            %td= link_to report.id, admin_report_path(report)
            %td= report.state
            %td= report.algorithm
            %td= report.created_at
            %td.last
              - if report.complited?
                = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_report_path(report)
                = link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_report_path(report), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
      .actions-bar.wat-cf
        .actions
        = will_paginate @reports
- content_for :sidebar, render(:partial => 'sidebar')
