.block
  .content
    %h2.title Отчет
    .inner
      %h3.title= "Схожесть #{@report.similarity} %, алгоритм #{@report.algorithm}"
      - benchmark("Showing document content") do
        = paint @document
      - case @report.algorithm
      - when 'shingle'
        = render partial: 'admin/reports/sidebars/shingle'
      - when 'min-hash'
        = render partial: 'admin/reports/sidebars/min-hash'