!!!
%html
  %head
    %title Web App
    = stylesheet_link_tag 'base', 'style'
    = javascript_include_tag 'jquery', 'application'
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Проверка на заимствование
        / #user-navigation
        /   %ul.wat-cf
        /     %li
        /       %a{:href => "#"}= t("web-app-theme.profile", :default => "Profile")
        /     %li
        /       %a{:href => "#"}= t("web-app-theme.settings", :default => "Settings")
        /     %li
        /       %a.logout{:href => "/logout"}= t("web-app-theme.logout", :default => "Logout")
        %br
        %br
        %br
        %br
        #main-navigation
          %ul.wat-cf
            %li= link_to 'Проверить', root_path
            %li= link_to 'Documents', admin_documents_path
            %li= link_to 'Shingle signatures', admin_shingle_signatures_path
            %li= link_to 'Super shingle signatures', admin_super_shingle_signatures_path
            %li= link_to 'Mega shingle signatures', admin_mega_shingle_signatures_path
            %li= link_to 'MinHash signatures', admin_min_hash_signatures_path
            %li= link_to 'Words', admin_words_path
            %li= link_to 'I-Match signatures', admin_i_match_signatures_path
        
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
        #sidebar
          = yield :sidebar
